body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: #F28AB2;
  color:hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: #fff;
  padding: 32px;
  border-radius: 8px;
  width: 400px;
}
.container button {
  color: #fff;
  display: block;
  width: 100%;
  border-color: transparent;
  background: #F28AB2;
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing:0.1rem;
  border-radius:  0.25rem;
  outline: 1px solid rgba(242, 138, 178, 0.8);
  cursor: pointer;
}
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
  }
  .person {
  display: flex;
  align-items: center;
    margin-top: 20px;
  }
   p {
    margin-top: 8px;
    color: #777;
  }